apscheduler==3.9.0
brotlipy==0.7.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==2.0.4
colorama==0.4.6
cryptography==39.0.1
pip==23.0.1
pycparser==2.21
pyopenssl==23.0.0
pysocks==1.7.1
pytz==2022.7
requests==2.29.0
setuptools==66.0.0
six==1.16.0
tzlocal==2.1
urllib3==1.26.15
wheel==0.38.4
win_inet_pton==1.1.0
